@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;

  --color-discord: #5865F2;
  --color-discord-hover: #4752C4;
}

@plugin "@iconify/tailwind4" {
    prefixes: bxl;
}

@layer components {
    .button {
        @apply h-10 px-2 flex items-center gap-2 font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors;
    }
}

html, body {
    @apply bg-neutral-50 dark:bg-neutral-950 text-neutral-950 dark:text-white;
}
