# Generate using `openssl rand -hex 32`
SESSION_SECRET = dc53ed5144583c6b931c5369548dd2d1643826706568f5b813b7e6b0858b695d

# Get credentials by creating an application at https://discord.com/developers/applications
DISCORD_ID = 1491469741175472379
DISCORD_SECRET = NzGFTf3K9x7l1wppsGKg3MyiifscGXZ3
