DATABASE_URL=postgresql://

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # use pnpx @better-auth/cli secret

DISCORD_ID=
DISCORD_SECRET=
DISCORD_GUILD_ID=
DISCORD_ROLE_IDS= # string, separated by semicolons ';'

VITE_SOURCE_URL= # git
